* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    border-color: purple;
    background-color: #06D6A0;
    font-family: sans-serif;
    /*margin-bottom:50px;*/
}

h1 {
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}
.menu-item {
  display: inline-block;
}
nav {
  float: right;
}

.navbar {
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}

.container-a {
  max-width: 900px;
  margin:auto;
}

.hero {
  width:100%;
  display: block;
  overflow: hidden;
  background-color: rgb(25,78,123);
  color: white;

}

.hero-image {
  float: left;
  width: 60%;
  max-width: 100%;
}

.hero-content {
    text-align: center;
    float: left;
    width: 40%;
    font-size: 25px;
}

.cats {
  padding: 2em 1em 2em 1em;
  background-color: rgb(254,211,75);
}

.products {
  padding: 2em 1em 2em 1em;
  background-color: rgb(242, 242, 242);
  /*overflow: hidden;*/
}

.wrapper {
  overflow: hidden;
  /*background-color: rgb(242,242,242);*/
}

.wrapper-item {
  float:left;
  width: 32%;
  padding:10px;
}

.redding {
    float: left;
    width: 33.33333%;
    text-transform: uppercase;
    text-align: center;
    color: #EF476F;
}

.about {
  color: white;
  padding: 2em 1em;
  background-color: rgb(25,73,123)
}

footer {
  font-size: 1.2em;
  color: black;
  padding: 1em;
  text-align: right;
  position: relative;
  border-color: purple;
  background-color: #06D6A0;
  font-family: sans-serif;
}
